/***********general**************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: 'maven';
	src: url('fonts/MavenPro-Regular.ttf');
}
@font-face{
	font-family: 'maven medium';
	src: url('fonts/MavenPro-Medium.ttf');
}
@font-face{
	font-family: 'kumar';
	src: url('fonts/KumarOneOutline-Regular.ttf');
}
a {
	text-decoration: none;
}
/***********navigation**************/

nav ul {
	display: flex;
	justify-content: center;
	align-content: space-around;
	font-family: 'maven medium';
	background-color: #1a3163;
	color: #fab95b;
	align-items: center;
}
nav li {
	padding: 20px;
	list-style-type: none;
}
nav img {
	width: 80px;
	height: 70px;
}
nav li:hover{
	background-color: #fab95b;
	color: #1a3163;
}
nav a {
	color: #fab95b;
}
nav a:hover {
	background-color: #fab95b;
	color: #1a3163;
}
/***************section présentation***************/
#presentation, #presentationen {
	background-color: #f9dec9;
	color: #35456d;
}
.presentation {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
#titreprensentation, #titreprensentationEN {
	font-family: 'kumar';
	text-align: center;
	font-weight: 200;

}
/***********grid********/
.containerGridAcc {
	display: grid;
	grid-template: 25% 25% 25% 25% / 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}
.GridAc1Titre, .GridAc4Titre {
	font-family: 'kumar';
	font-weight: 100;
}
.GridAc1Texte, .GridAc4Texte {
	font-family: 'maven';
	font-weight: 100;
}
.GridAc1 {
	grid-area: 1 / 1 / span 2 / 3;

}
.GridAc2 {
	grid-area: 1 / 3 / span 2 / 5;	

}
.GridAc3 {
	grid-area: 3 / 1 / span 2 /span 2;	
}
.GridAc4 {
	grid-area: 3 / 3 / span 2 / span 2;
}
.GridAc2 img, .GridAc3 img {
	max-width: 100%;
}
/***************section derniersprojets***************/
#derniersprojets {
	background-color: #f5574e;
	padding-bottom: 50px;
}
.derniersprojets {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #FFF;
}
.derniersprojets h2 {
	font-family: 'kumar';	
	text-align: center;
	padding-top: 40px;
	font-weight: 100;
}
.derniersprojets h3 {
	font-family: 'maven';
	text-align: center;
}
.boutonprojets, .boutongit {
	border-radius: 10px;
	width: 145px;
	background-color: #1a3163;
	border-width: 0;
	color: #FFF;
	padding: 5px;

}
.flexboutons {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/***************media queries*********/
@media all and (max-width: 800px) {

	.containerGridAcc {
		display: grid;
		grid-template: 25% 25% 25% 25% / 1fr 1fr;
		grid-gap: 20px;
	}
	.GridAc1 {
		grid-area: 1 / 1 / span 2 / span 1;

	}
	.GridAc2 {
		grid-area: 1 / 2 / 1 / 3;	

	}
	.GridAc3 {
		grid-area: 3 / 1 / 3 / span 1;	
	}
	.GridAc4 {
		grid-area: 3 / 2 / span 2 / span 1;
	}
}

@media (max-width: 576px) {
	body {
		border-top-color: #bb2f16;
		border-top-style: solid;
		padding-bottom: 130px;
	}
	.containerGridAcc {
		display: grid;
		grid-template: 25% 25% 25% 25% / 100%;
		grid-gap: 20px;
	}
	.GridAc1 {
		grid-area: 2 / 1 / span 1 / span 1;

	}
	.GridAc2 {
		grid-area: 1 / 1 / span 1 / 1;	

	}
	.GridAc3 {
		grid-area: 3 / 1 / span 1 / span 1;

	}	
	.GridAc4Titre, .GridAc1Titre{text-align: center;
		vertical-align: center;}
	.GridAc4 {
			grid-area: 4 / 1 / span 1 / span 1;
	}
	nav {
			position: fixed;
			bottom: 0;
	}
	}